[submodule "donosdabala"]
	path = donosdabala
	url = https://github.com/talDoFlemis/donosdabala.git
[submodule "quizlet-2.0"]
	path = quizlet-2.0
	url = https://github.com/talDoFlemis/quizlet-2.0.git
	
[submodule "budget"]
	path = budget
	url = https://github.com/talDoFlemis/budget.git
